<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleSpokenName</key>
    <string>x playground app</string>
    <key>INAlternativeAppNames</key>
    <array>
        <dict>
            <key>INAlternativeAppName</key>
            <string>playground</string>
            <key>INAlternativeAppNamePronunciationHint</key>
            <string>playground</string>
        </dict>
        <dict>
            <key>INAlternativeAppName</key>
            <string>x.playground</string>
            <key>INAlternativeAppNamePronunciationHint</key>
            <string>x playground</string>
        </dict>
    </array>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>CFBundleURLName</key>
            <string>app.x.Playground</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>app.x.playground</string>
            </array>
        </dict>
        <dict>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>CFBundleURLName</key>
            <string>x.playground</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>x.playground</string>
            </array>
        </dict>
    </array>
    <key>NSUserActivityTypes</key>
    <array>
        <string>app.x.playground</string>
    </array>
    <key>UIApplicationShortcutItems</key>
    <array>
        <dict>
            <key>UIApplicationShortcutItemType</key>
            <string>menu</string>
            <key>UIApplicationShortcutItemTitle</key>
            <string>Menu</string>
            <key>UIApplicationShortcutItemIconSymbolName</key>
            <string>swift</string>
        </dict>
        <dict>
            <key>UIApplicationShortcutItemType</key>
            <string>test</string>
            <key>UIApplicationShortcutItemTitle</key>
            <string>Test</string>
            <key>UIApplicationShortcutItemIconSymbolName</key>
            <string>filemenu.and.selection</string>
        </dict>
    </array>
    <key>ITSAppUsesNonExemptEncryption</key>
    <false/>
</dict>
</plist>
